POSTGRES_USER=commerce
POSTGRES_PASSWORD=commerce_dev_password
POSTGRES_DB=commerce

RABBITMQ_DEFAULT_USER=commerce
RABBITMQ_DEFAULT_PASS=commerce_dev_password

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
