# .NET container images
DOTNET_SDK_VERSION=10.0.301
DOTNET_RUNTIME_VERSION=10.0.9

# Application
COMMERCE_API_PORT=5000

# PostgreSQL
POSTGRES_PORT=5432
POSTGRES_USER=commerce
POSTGRES_PASSWORD=commerce_dev_password
POSTGRES_DB=commerce

# Redis
REDIS_PORT=16379

# RabbitMQ
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_DEFAULT_USER=commerce
RABBITMQ_DEFAULT_PASS=commerce_dev_password

# Keycloak
KEYCLOAK_PORT=8080
KEYCLOAK_BOOTSTRAP_ADMIN_USERNAME=admin
KEYCLOAK_BOOTSTRAP_ADMIN_PASSWORD=admin